.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(234, 234, 234);
  padding: 10px 0;
  margin-bottom: 20px;
}

.logo {
  width: 45px;
  margin-left: 40px;
}

.header div {
  display: flex;
  align-items: center;
}

.header .divarMan {
  position: relative;
  transition: 0.3s ease-out;
  padding: 0 7px;
  border-radius: 6px;
  width: 100px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.header .divarMan:hover {
  background: #eaeaea;
}

.divarMan div {
  position: absolute;
  padding: 10px 15px;
  width: 100px;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.divarMan div a {
  transition: 0.3s ease-out;
}

.divarMan div a:hover {
  color: #a62626;
}

.divarMan div > p {
  position: relative;
  transition: 0.3s ease-out;
}

.divarMan div > p::before {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  height: 2px;
  width: 0px;
  background: #a62626;
  transition: 0.3s ease-in;
}

.divarMan div > p:hover {
  color: #a62626;
}

.divarMan div > p:hover::before {
  width: 100%;
}

.divarMan hr {
  width: 120%;
  margin: 7px 0;
  background: silver;
}

.header .divarMan:hover div {
  display: flex;
}

.header span {
  display: flex;
  align-items: center;
  color: gray;
  height: 50px;
}

.header span p {
  margin-right: 5px;
  font-size: 0.9rem;
}

.button {
  background-color: #a62626;
  color: #fff;
  height: 40px;
  width: 80px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  margin-right: 40px;
}
